.locationList{
    height: 90vh;
    overflow: auto;
}

@media (max-width: 50em){
    .locationList {
        max-height: 45vh;
        overflow: auto;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}